.main-title{
    background: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size:60px;
    font-family: 'Abel', sans-serif;
    font-weight:bolder;
}
.two-players{
    font-family: 'Abel', sans-serif;
    color: white;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    font-weight:bold;
}
.main-board{
    background: black;
    padding-top: 80px;
    padding-left:800px;

}
.board-game{
    display: inline-flex;
    flex-wrap: wrap;
    width: 320px;
    color: black;
}

.box{
    width: 80px;
    height:80px;
    display: inline-block;
    border: 5px solid white;
    line-height: 80px;
    font-weight: bolder;
    font-size: xx-large;
    color:white;

}
#play-again{
    color: white;
    font-family: 'Abel', sans-serif;
    font-size: 45px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 150px;
}
.footer{
    color:black;
    background:white;
    padding-top: 20px;
    padding-bottom:20px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 30px;
}

